<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ $styleCSS := resources.Get "/css/style.css" -}}
    {{ $fontCSS := resources.Get "/css/fonts.css" -}}
    {{ $bundledCSS := slice $styleCSS $fontCSS | resources.Concat "/css/bundled.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $bundledCSS.RelPermalink }}" integrity="{{ $bundledCSS.Data.Integrity }}" />
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | relURL }}" />
    {{- end }}
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <br/>
